{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">新增员工</div>
            <div class="panel-body">
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">姓名</div>
                            <input type="text" class="form-control" name="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">年龄</div>
                            <input type="text" class="form-control" name="age" placeholder="年龄">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">密码</div>
                            <input type="text" class="form-control" name="pwd" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">余额</div>
                            <input type="text" class="form-control" name="acount" placeholder="余额">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">入职日期</div>
                            <input type="text" class="form-control" name="hiretime" placeholder="入职日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">性别</div>
                            <select name="gender">
                                {% for gd in gdchoice %}
                                    <option  value="{{ gd.0 }}">{{ gd.1 }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">部门</div>
                            <select name="dname">
                                {% for dep in deplist %}
                                    <option  value="{{ dep.id }}">{{ dep.dname }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

